#body{
    font-size: 19px;
    line-height: 30px;
}

header .ebook {
    padding-bottom: 10px;
    font-style: italic;
    font-size: 17px;
    padding-bottom: 20px;
}
header .time {
    font-size: 17px;
    font-style: italic;
}

header.article h1 {
    padding-bottom: 15px;
}

.container .header a {
    color: #DDDDDD;
}

.container .header {
    padding-bottom: 30px;
    color: #DDDDDD;
}

.container .header .input-group-addon:hover {
    color: #333333;

    -webkit-transition: color 1000ms linear;
    -moz-transition: color 1000ms linear;
    -o-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;
}


.container .header .btn-default {
    background-image: none;
    background-color: #DDDDDD;
    border: 1px solid #D9D9D9;
}


.container .header .btn-default:hover {
    background-image: none;
    background-color: #222222;
    border: 1px solid #1A1A1A;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.container .header h2 {
    padding-top: 12px;
    margin-top: 0px;
}


.container .header h2 a:hover {
    color: #333333;

    -webkit-transition: color 1000ms linear;
    -moz-transition: color 1000ms linear;
    -o-transition: color 1000ms linear;
    -ms-transition: color 1000ms linear;
    transition: color 1000ms linear;
}

.container .newsletter-form {
    padding-top: 15px;
    margin-top: 0px;
}

ul.entries li {
    padding-bottom: 20px;
}

.container .entry h1 {
    font-size: 42px;
    padding-bottom: 20px;
}

.container .entry h2 {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
}


ul.sidebar li {
   float: none;
}

ul.sidebar li.active {
   background-color: #F1F1F1;
   border-radius: 4px;
}


ul.sidebar li.active>a {
    border-radius: 4px;
}

ul.sidebar>li>a {
    padding-bottom:10px;
    padding-top:10px;

    padding-left: 5px;
}

ul.sidebar.navbar-nav {
   float: none;
}

.container .row .navbar-default {
    border: none;
    box-shadow: none;
}


.container .row .navbar-default ul > li > a {
    color: #428BCA;
}


.container .row .navbar-default ul > li > a.rss {
    color: #FF6600;
}

.container .row .navbar-default ul > li > a.twitter {
    color: #4099FF;
}

.container .row .navbar-default ul > li > a.newsletter {
    color: #000000;
}

.nav > li.subscribe > a {
    display: inline;
}

.sitemap span {
    display: block;
    padding: 5px;
}

.sitemap span a {
    color: #777777;
    font-size: 16px;
}

.sitemap a {
    font-size: 20px;
}

.post-list h1 {
    padding-bottom: 20px;
}

.entry_meta ul {
    list-style: none outside none;
}

.btn-submit {
    background-color: #ddd;
}

.top-ten li {
   padding: 5px;
}

.well-meta {
    margin-top: 40px;
}

article {
    padding-bottom: 50px;
}

.input_id_honeypot {display:none !important;}

/* Comments */

#comments {
    display: none;
}

ol.commentlist {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

ul.children {
    list-style-type: none;
}
.vcard {
    text-align: right;
}

.comment-author span { display: block; }


.comment-content .comment-author span a {
    font-weight: normal;
    color: #AAA;
}

.comment-wrap {
    padding-bottom: 20px;
}

.container blockquote .lead {
    font-size: 28px;
}


.container blockquote {
    padding-right: 0;
    padding-left: 0;
    border:0px;
}

.container .lead {
    font-size: 18px;
}

.container .home-links {
    padding-bottom: 20px;
}

.container .home-links p a {
    color: #333333;
}

.show-articles {
    padding-top: 15px;
    font-size: 25px;
}

.grey-box {
    /**background-color: #F5F5F5;**/
    border-right: 2px solid #E0E0E0;
    list-style: none outside none;
    margin-bottom: 24px;
    padding: 8px 15px;
}

.post-footer {
    font-size: 17px;
}
