{% load i18n mezzanine_tags custom_comment_tags comment_tags rating_tags %}

<ul class="children">
    {% for comment in comments_for_thread %}

    <li id="li-comment-{{ comment.id }}" class="{% if comment.by_author %}comment-author{% endif %} comment depth-1 {% cycle 'even' 'odd' %} thread-{% cycle 'even' 'odd' %}">
        {% editable comment.is_public comment.is_removed %}
        {% if not comment.is_removed and comment.is_public %}
        <div id="comment-{{ comment.id }}" class="comment-wrap clearfix">

            <div class="comment-meta">
                <div class="comment-author vcard">
                    <span class="comment-avatar clearfix">
                        {% if comment.url %}
                        <a href="{{ comment.url }}">
                            <img src="{% gravatar_url comment.email 40 %}" class="avatar photo avatar-40">

                        </a>
                        {% else %}
                        <img src="{% gravatar_url comment.email 40 %}" class="avatar photo avatar-40">
                        {% endif %}
                    </span>
                </div>
            </div>

            <div class="comment-content clearfix">
                <div class="comment-author">
                {% if comment.url %}
                    <a href="{{ comment.url }}" rel="external nofollow" class="url">{{ comment.user_name }}</a>
                {% else %}
                    {{ comment.user_name }}
                {% endif %}
                    <span><a title="Lien vers ce commentaire" href="{{ request.path }}#comment-{{ comment.id }}">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</a> · <a href="#reply-{{ comment.id }}" class="reply">{% trans "Reply" %}</a></span>
                </div>

            <p>{{ comment.comment|comment_filter }}</p>

            </div>


            <form class="reply-form" method="post" id="reply-{{ comment.id }}"
                action="{{ comment_url }}#reply-{{ comment.id }}"
                {% if replied_to != comment.id %}style="display:none;"{% endif %}>
                {% if replied_to == comment.id %}
                {% fields_for posted_comment_form %}
                {% else %}
                {% fields_for unposted_comment_form %}
                {% endif %}
                <input type="hidden" name="replied_to" value="{{ comment.id }}">
                <input id="submit-button" class="btn" type="submit" value="{% trans "Reply" %}">
            </form>

        </div>

        {% else %}

        {% if request.user.is_staff %}
        <strong>
            {% if comment.url %}
            <a href="{{ comment.url }}">
                <img src="{% gravatar_url comment.email %}">
                {{ comment.user_name }}
            </a>
            {% else %}
            <img src="{% gravatar_url comment.email %}">
            {{ comment.user_name }}
            {% endif %}
        </strong>
        <span class="timespan">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</span>
        <p>{{ comment.comment|comment_filter }}</p>
        {% endif %}

        <p>
            {% if comment.is_removed %}
            {% trans "Comment deleted" %}
            {% else %}
            {% trans "Comment awaiting approval" %}
            {% endif %}
            <span class="timespan">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</span>
        </p>

        {% endif %}
        {% endeditable %}
        {% if settings.COMMENTS_USE_RATINGS %}
        {% rating_for comment %}
        {% endif %}
        {% child_comment_thread comment %}
    </li>
    {% endfor %}
    {% if no_comments %}
    <li>{% trans "There are currently no comments" %}</li>
    {% endif %}
</ul>


