#body{
    padding-top: 80px;
    font-size: 20px;
}

.navbar-default .navbar-nav > li.rss > a {
    color: #FF6600;
}

.sitemap span {
    display: block;
    padding: 5px;
}

.sitemap span a {
    color: #777777;
    font-size: 16px;
}

.sitemap a {
    font-size: 20px;
}

.post-list h1 {
    padding-bottom: 20px;
}

.entry_meta ul {
    list-style: none outside none;
}

.btn-submit {
    background-color: #ddd;
}

.top-ten li {
   padding: 5px;
}

.well-meta {
    margin-top: 40px;
}

ol.commentlist {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}
