{% load i18n future pages_tags mezzanine_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

<ul class="nav navbar-nav">

    {% for page in page_branch %}

    <li class="{% if page.is_current_or_ascendant %} active{% endif %}{% if page.has_children %} dropdown{% endif %}">
        {% if page.has_children %}
        <a id="{{ page.slug }}" href="#" data-toggle="dropdown" class="dropdown-toggle">{{ page.title }} <span class="caret"></span></a>
        {% else %}
            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        {% endif %}
        {% page_menu "pages/menus/subdropdown.html" page %}
    </li>

    {% endfor %}

    {% ifinstalled mezzanine.blog %}
    <li class="rss"><a href="{% url "sitecontent.views.blog_post_feed_richtext_filters" "atom" %}"><i class="icon-rss"></i></a></li>
    {% endifinstalled %}

</ul>


{% endif %}
{% endspaceless %}
