{% extends "base.html" %}

{% block meta_title %}
{% if page %}
{{ page.title }}
{% else %}
Best-of
{% endif %}
{% endblock %}

{% block main %}
<h1>Le meilleur du web !</h1>
<p>Je vous propose ici les articles, livres et vidéos qui ont fait une <strong>différence pour moi</strong>. Je me dis que s'ils m'ont servis, ils pourront surement vous servir aussi. N'hésitez d'ailleurs pas à m'en proposer d'autres via la <a href="/à-propos">page contact</a>, je serais ravi de découvrir de nouvelles perles !</p>


{% for category in categories %}
    {% if forloop.counter|divisibleby:"3" and forloop.counter != 1 %}
    </div>
    {% endif %}
    {% if forloop.counter|divisibleby:"3" or forloop.counter == 1 %}
    <div class="row">
    {% endif %}

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{{ category.name }}</h4></div>
            <div class="panel-body">
                <ul>
                {% for entry in category.entry_set.all %}
                <li><a href="{{entry.url}}">{{ entry.title }}</a> - <span>{{entry.description|safe}}</span></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}
