{% extends "base.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future staticfiles %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}
{% block og_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block og_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block side %}


{% endblock %}

{% block main %}



<header class="article">
    <h1>{{ blog_post.title }}</h1>

</header>


<article class="entry post-single clearfix">


    <div class="entry_content">

        {{ blog_post.content|richtext_filters|safe }}
        <hr />

        {% if blog_post.related_posts.all %}

        <div style="position: relative;">

            <h4><span>Articles</span> en rapport</h4>
            <ul class="unstyled">
            {% for post in blog_post.related_posts.all %}
                <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <hr />

        {% endif %}
        <div class="row">
            <div class="col-lg-6">

    <div class="ebook">
        <i class="fa fa-book text-danger"></i> 
            <a href="{% url 'blogebook.views.post_epub_download' blog_post.slug %}">Ebook (.epub)</a>
    </div>

        <ul class="entry_meta clearfix list-unstyled text-muted">

            <li><i class="fa fa-calendar"></i> <time datetime="{{ blog_post.publish_date|date:"Y-m-d" }}">{{ blog_post.publish_date|date:"j F Y" }}</time></li>
            <li><i class="fa fa-user"></i> {{ blog_post.user.get_full_name|default:blog_post.user.username }}</li>
            <li><i class="fa fa-copy"></i>
            
            {% with blog_post.categories.all as categories %}
            {% if categories %}
            {% for category in categories %}
            <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
            </li>
            <li>
            <i class="fa fa-check-square-o"></i> Licence : <a href="http://creativecommons.org/licenses/by/4.0/deed.en_US">CC-BY</a>
            </li>
            <li>
<script id='fb17wor'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=vjousse&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fb17wor');</script>
            </li>

        </ul>

            </div>
            <div class="col-lg-6 text-right">
                <div><a href="{% url "donate" %}"><button class="btn btn-danger" type="button"><i class="fa fa-heart"></i> Dire merci</button></a></div><div>et/ou</div>
                <div><a href="{% url "home" %}"><button class="btn btn-primary" type="button"><i class="fa fa-list-alt"></i> Consulter les autres articles</button></a></div>
            </div>
        </div>

    </div>
    
    <!--
    {% block blog_post_previous_next %}
    <ul class="pager nobottommargin">
    {% with blog_post.get_previous_by_publish_date as previous %}
    {% if previous %}
    <li class="previous">
        <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
    </li>
    {% endif %}
    {% endwith %}
    {% with blog_post.get_next_by_publish_date as next %}
    {% if next %}
    <li class="next">
        <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
    </li>
    {% endif %}
    {% endwith %}
    </ul>
    {% endblock %}
    -->



<!-- END entry-content -->
</article>


{% endblock %}
