{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Changer de vie pour vivre la sienne" %}{% endblock %}
{% block title %}{% trans "Changer de vie pour vivre la sienne" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Accueil" %}</li>
{% endblock %}

{% block main %}

        <div id="landing-area">

            <div class="container clearfix">

                <div class="col_full" id="landing-desc">

                    <h1>Souhaitez vous vraiment passer à côté de <span>votre vie</span> ?</h1>
                    <p class="landing-desc">
                    <strong>« On a deux vies, la seconde commence le jour où l'on réalise qu'on en a qu'une »</strong> — <em>Confucius</em>
                    </p>
                    <p class="landing-desc">
                    Quelque chose <strong>sonne faux</strong>. Vous n'avez pas la vie que vous auriez souhaité. Mais vous ne savez pas quoi faire. Pas d'inquiétude, il n'est <strong>jamais trop tard</strong>.
                    </p>
                    <p class="landing-desc">
                    La vie <strong>n'est pas une fatalité</strong>. La prendre en main est une <strong>longue et difficile aventure</strong>, mais c'est l'aventure de votre vie. Le « bon moment » n'existe pas, alors pourquoi attendre ? Commencez maintenant !
                    </p>
                    <p class="landing-desc">
                        Ne laissez pas ceux qui ont renoncé à le faire vous décourager. <strong>Aidons ce monde à grandir</strong> ensemble, en commençant par vous.
                    </p>

                </div>

                <div class="clear"></div>



            </div>


        </div>


        <div id="content">


            <div class="content-wrap">


                <div class="container clearfix">

                <!-- ============================================
                    Page Content Start
                ============================================= -->

                    <div class="promo">
                    
                        <div class="promo-desc">
                        
                            <h3>Rejoignez la <span>communauté</span>, inscrivez-vous à la lettre d'informations</h3>
                            
                            <span>Profitez-en, je n'ai rien à vous vendre ! Recevez les mises à jour / actualités gratuitement par mail.</span>
                            
                        </div>
                        
                        <div class="promo-action"><a href="http://themes.semicolonweb.com/buy/coworker" target="_blank">S'inscrire</a></div>
                    
                    </div>
                    <div class="clear"></div>


                    <div class="postcontent nobottommargin">
                    
                    
                        <div id="posts">
                        
                        
                            <div class="entry clearfix">
                            
                                <div class="entry_date">
                                
                                    <div class="day">28</div>
                                    <div class="month">Aug</div>
                                    <div class="post-icon"><i class="icon-camera"></i></div>
                                
                                </div>
                                
                                <div class="entry_c">
                                
                                
                                    <div class="entry_title"><h2><a href="blog-single.html">This is a standard post format with preview picture</a></h2></div>
                                    
                                    <ul class="entry_meta clearfix">
                                    
                                        <li><i class="icon-user"></i>Admin</li>
                                        <li><span>/</span><i class="icon-copy"></i><a href="#">Health</a>, <a href="#">General</a>, <a href="#">Media</a></li>
                                        <li><span>/</span><a href="blog-single.html#comments"><i class="icon-comments"></i>5 Comments</a></li>
                                    
                                    </ul>
                                    
                                    <span class="page-divider"><span></span></span>
                                    
                                    <div class="entry_content">
                                    
                                        <p>Nam ultricies dolor eu velit varius scelerisque. Vestibulum in lacus in felis pretium feugiat non sed elit. Duis pretium, urna sed pellentesque tincidunt, neque massa imperdiet nisi, sed cursus leo magna pretium elit. Proin bibendum ipsum a ante viverra lobortis. Phasellus id augue ligula, nec ultrices augue. Aliquam erat volutpat.</p>
                                    
                                    </div>
                                
                                </div>
                            
                            </div>
                            
                            
                            <div class="entry clearfix">
                            
                                <div class="entry_date">
                                
                                    <div class="day">31</div>
                                    <div class="month">Oct</div>
                                    <div class="post-icon"><i class="icon-film"></i></div>
                                
                                </div>
                                
                                <div class="entry_c">
                                
                                    <div class="entry_image">
                                    
                                        <iframe src="http://player.vimeo.com/video/56974716?color=ffffff" width="720" height="405" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                    
                                    </div>
                                
                                    <div class="entry_title"><h2><a href="blog-single.html">This is a standard post format with Vimeo Video</a></h2></div>
                                    
                                    <ul class="entry_meta clearfix">
                                    
                                        <li><i class="icon-user"></i>SemiColon</li>
                                        <li><span>/</span><i class="icon-copy"></i><a href="#">Info</a>, <a href="#">Press</a>, <a href="#">Team</a></li>
                                        <li><span>/</span><a href="blog-single.html#comments"><i class="icon-comments"></i>21 Comments</a></li>
                                    
                                    </ul>
                                    
                                    <span class="page-divider"><span></span></span>
                                    
                                    <div class="entry_content">
                                    
                                        <p>Nam ultricies dolor eu velit varius scelerisque. Vestibulum in lacus in felis pretium feugiat non sed elit. Duis pretium, urna sed pellentesque tincidunt, neque massa imperdiet nisi, sed cursus leo magna pretium elit. Proin bibendum ipsum a ante viverra lobortis. Phasellus id augue ligula, nec ultrices augue. Aliquam erat volutpat.</p>
                                    
                                    </div>
                                
                                </div>
                            
                            </div>
                            
                            
                            <div class="entry clearfix">
                            
                                <div class="entry_date">
                                
                                    <div class="day">27</div>
                                    <div class="month">Aug</div>
                                    <div class="post-icon"><i class="icon-picture"></i></div>
                                
                                </div>
                                
                                <div class="entry_c">
                                
                                    <div class="entry_image">
                                    
                                        <div class="fslider">
                                    
                                            <div class="flexslider">
                                            
                                            
                                                <div class="slider-wrap">
                                                
                                                
                                                    <div class="slide">
                                                    
                                                        <img src="images/blog/2.jpg" alt="Post Gallery 1" />
                                                    
                                                    </div>
                                                    
                                                    <div class="slide">
                                                    
                                                        <img src="images/blog/3.jpg" alt="Post Gallery 2" />
                                                    
                                                    </div>
                                                    
                                                    <div class="slide">
                                                    
                                                        <img src="images/blog/4.jpg" alt="Post Gallery 3" />
                                                    
                                                    </div>
                                                    
                                                    <div class="slide">
                                                    
                                                        <img src="images/blog/5.jpg" alt="Post Gallery 4" />
                                                    
                                                    </div>
                                                    
                                                    <div class="slide">
                                                    
                                                        <img src="images/blog/6.jpg" alt="Post Gallery 5" />
                                                    
                                                    </div>
                                                
                                                
                                                </div>
                                            
                                            
                                            </div>
                                        
                                        </div>
                                    
                                    </div>
                                
                                    <div class="entry_title"><h2><a href="blog-single.html">This is a standard post format with an Image Gallery</a></h2></div>
                                    
                                    <ul class="entry_meta clearfix">
                                    
                                        <li><i class="icon-user"></i>Admin</li>
                                        <li><span>/</span><i class="icon-copy"></i><a href="#">Image</a>, <a href="#">Gallery</a>, <a href="#">Photography</a></li>
                                        <li><span>/</span><a href="blog-single.html#comments"><i class="icon-comments"></i>87 Comments</a></li>
                                    
                                    </ul>
                                    
                                    <span class="page-divider"><span></span></span>
                                    
                                    <div class="entry_content">
                                    
                                        <p>Nam ultricies dolor eu velit varius scelerisque. Vestibulum in lacus in felis pretium feugiat non sed elit. Duis pretium, urna sed pellentesque tincidunt, neque massa imperdiet nisi, sed cursus leo magna pretium elit. Proin bibendum ipsum a ante viverra lobortis. Phasellus id augue ligula, nec ultrices augue. Aliquam erat volutpat.</p>
                                    
                                    </div>
                                
                                </div>
                            
                            </div>
                            
                            
                            <ul class="pager nobottommargin">
                                <li class="previous">
                                    <a href="#">&larr; Older Posts</a>
                                </li>
                                <li class="next disabled">
                                    <a href="#">Newer Posts &rarr;</a>
                                </li>
                            </ul>
                        
                        
                        </div>
                    
                    
                    </div>
                    <div class="sidebar col_last nobottommargin">
                    
                    
                        <div class="sidebar-widgets-wrap clearfix">
                        
                            
                            
                            
                            <div class="widget tabbed-widget clearfix">
                            
                            
                                <div class="tab_widget nobottommargin" id="tabwidget-1">
                                
                                    <ul class="tabs">
                                        <li><a href="#tab-tab1" data-href="#tab-tab1">Populaires</a></li>
                                        <li><a href="#tab-tab2" data-href="#tab-tab2">Récents</a></li>
                                    </ul>
                                    
                                    <div class="tab_container">
                                        
                                        <div id="tab-tab1" class="tab_content clearfix">
                                        
                                            <ul class="sposts-list clearfix">        
                                
                                                <li class="clearfix">
                                                
                                                
                                                    <div class="spost-content clearfix">
                                                        <div class="spost-title"><a href="blog-single.html">Donec sed odio dui</a></div>
                                                        <div class="spost-meta clearfix">
                                                            <ul>
                                                                <li><a href="blog-single.html#comments"><i class="icon-comments-alt"></i> 3 Comments</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                
                                                </li>
                                                
                                                <li class="clearfix">
                                                
                                                    <div class="spost-image">
                                                        <a href="blog-single.html"><img src="images/blog/mini/3.jpg" width="64" height="64" alt="Post 3" /></a>
                                                    </div>
                                                
                                                    <div class="spost-content clearfix">
                                                        <div class="spost-title"><a href="blog-single.html">Nullam id dolor id nibh</a></div>
                                                        <div class="spost-meta clearfix">
                                                            <ul>
                                                                <li><a href="blog-single.html#comments"><i class="icon-comments-alt"></i> 15 Comments</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                
                                                </li>
                                                
                                                <li class="clearfix">
                                                
                                                    <div class="spost-image">
                                                        <a href="blog-single.html"><img src="images/blog/mini/4.jpg" width="64" height="64" alt="Post 4" /></a>
                                                    </div>
                                                
                                                    <div class="spost-content clearfix">
                                                        <div class="spost-title"><a href="blog-single.html">Lorem ipsum donec</a></div>
                                                        <div class="spost-meta clearfix">
                                                            <ul>
                                                                <li><a href="blog-single.html#comments"><i class="icon-comments-alt"></i> 12 Comments</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                
                                                </li>
                        
                                            </ul>
                                        
                                        </div>
                                        
                                        <div id="tab-tab2" class="tab_content clearfix">
                                        
                                            <ul class="sposts-list clearfix">        
                                
                                                <li class="clearfix">
                                                
                                                    <div class="spost-image">
                                                        <a href="blog-single.html"><img src="images/blog/mini/1.jpg" width="64" height="64" alt="Post 1" /></a>
                                                    </div>
                                                
                                                    <div class="spost-content clearfix">
                                                        <div class="spost-title"><a href="blog-single.html">Cras mattis consectetur </a></div>
                                                        <div class="spost-meta clearfix">
                                                            <ul>
                                                                <li><i class="icon-calendar"></i> 24th January</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                
                                                </li>
                                                
                                                <li class="clearfix">
                                                
                                                    <div class="spost-image">
                                                        <a href="blog-single.html"><img src="images/blog/mini/6.jpg" width="64" height="64" alt="Post 6" /></a>
                                                    </div>
                                                
                                                    <div class="spost-content clearfix">
                                                        <div class="spost-title"><a href="blog-single.html">Lorem ipsum donec</a></div>
                                                        <div class="spost-meta clearfix">
                                                            <ul>
                                                                <li><i class="icon-calendar"></i> 2nd December</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                
                                                </li>
                                                
                                                <li class="clearfix">
                                                
                                                    <div class="spost-image">
                                                        <a href="blog-single.html"><img src="images/blog/mini/5.jpg" width="64" height="64" alt="Post 5" /></a>
                                                    </div>
                                                
                                                    <div class="spost-content clearfix">
                                                        <div class="spost-title"><a href="blog-single.html">Nullam id dolor id nibh</a></div>
                                                        <div class="spost-meta clearfix">
                                                            <ul>
                                                                <li><i class="icon-calendar"></i> 5th November</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                
                                                </li>
                        
                                            </ul>
                                        
                                        </div>
                                        
                                        <div id="tab-tab3" class="tab_content clearfix">
                                        
                                            <ul class="sposts-list clearfix">        
                                
                                                <li class="clearfix">
                                                
                                                    <div class="spost-image">
                                                        <a href="#"><img src="images/icons/avatar.png" width="64" height="64" alt="Avatar" /></a>
                                                    </div>
                                                
                                                    <div class="spost-content clearfix"><strong>Admin:</strong> Morbi leo risus, porta ac ....</div>
                                                
                                                </li>
                                                
                                                <li class="clearfix">
                                                
                                                    <div class="spost-image">
                                                        <a href="#"><img src="images/icons/avatar.png" width="64" height="64" alt="Avatar" /></a>
                                                    </div>
                                                
                                                    <div class="spost-content clearfix"><strong>Admin:</strong> Duis mollis, est non commodo ....</div>
                                                
                                                </li>
                                                
                                                <li class="clearfix">
                                                
                                                    <div class="spost-image">
                                                        <a href="#"><img src="images/icons/avatar.png" width="64" height="64" alt="Avatar" /></a>
                                                    </div>
                                                
                                                    <div class="spost-content clearfix"><strong>Admin:</strong> Vestibulum id ligula porta felis ....</div>
                                                
                                                </li>
                        
                                            </ul>
                                        
                                        </div>
                                        
                                    </div>
                                
                                </div>
                                
                                
                                <script type="text/javascript">
                                
                                    jQuery(document).ready(function($) {
                                        
                                        tab_widget( '#tabwidget-1' );
                                    
                                    });
                                
                                </script>
                            
                            
                            </div>
                            
                            <div id="twitter_widget-2" class="widget twitter-widget clearfix">
                            
                                <h4 class="widget-title">Twitter Feed</h4>
                                
                                <script type="text/javascript">
                        			
                                    jQuery(document).ready(function($){
                        				$.getJSON('functions/twitter/tweets.php?username=vjousse', function(tweets){
                        					$("#twitter_list_1").html(sm_format_twitter(tweets));
                        				});
                        			});
                                    
                    			</script>
                                
                                <ul id="twitter_list_1">
                                
                                    <li></li>
                                    
                                </ul>
    
                                <a class="twitter-follow-me ntip" href="http://www.twitter.com/vjousse" title="Follow @vjousse">Follow me on Twitter</a>
                    
                                <div class="clear"></div>
                
                            </div>

                            
                            <div id="recent-comments-2" class="widget widget_recent_comments clearfix">
                            
                                <h4 class="widget-title">Recent Comments</h4>
                                
                                <ul id="recentcomments">
                                
                                    <li class="recentcomments">John Doe on <a href="#">Donec Sed Ui</a></li>
                                    
                                    <li class="recentcomments">Mary Jane on <a href="#">Nullam lulla ceribro</a></li>
                                    
                                    <li class="recentcomments">Collis on <a href="#">Lorem ipsum amet</a></li>
                                    
                                    <li class="recentcomments"><a href="#">Mr WordPress</a> on <a href="#">Hello world!</a></li>
                                    
                                </ul>
                                
                            </div>
                            
                            <div class="widget video-widget clearfix">
                            
                                <h4>Video Widget</h4>
                                
                                <iframe src="http://player.vimeo.com/video/54439068?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" width="210" height="118" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            
                            </div>
                            
                        
                        </div>
                    </div>
                <!-- ============================================
                    Page Content End
                ============================================= -->

                </div>


            </div>


        </div>



{% endblock %}
