<!doctype html>
<html lang="fr">
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="canonical" href="http://deboutlesgens.com/" />
    <link rel="author" href="https://plus.google.com/+VincentJousse"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="Vincent Jousse" />
    <meta property="og:title" content="{% block og_title %}{{ page.title }}{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}{{ page.description }}{% endblock %}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="http://{{request.get_host}}{% static "images/deboutlesgens.png" %}" />

    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "sitecontent.views.blog_post_feed_richtext_filters" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "sitecontent.views.blog_post_feed_richtext_filters" "atom" %}">
    {% endifinstalled %}
    {% compress css %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" />

    {% block extra_css %}{% endblock %}
    {% endcompress %}


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js" %}"></script>
      <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}">



<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
            <li class="debout">
                <a class="debout" href="/"><i class="fa fa-male"></i> Debout les gens !</a>
            </li>
            <li><a href="{% url "home" %}">Lire les articles</a></li>
            <li><a href="/bestof/">Trouver des idées de lecture</a></li>
            <li><a href="/subscribe/">S'abonner</a></li>
            <li><a href="/donate/" class="text-danger">Dire merci <i class="fa fa-heart"></i></a></li>
            <li><a href="/à-propos/">À propos</a></li>
        </ul>

    </div><!-- /.navbar-collapse -->
</nav>
    <div class="container">
        {% nevercache %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" data-alert="alert">
            <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
        </div>
        {% endfor %}
        {% endnevercache %}

        <div class="row">

            <div class="col-lg-2 col-md-2 col-sm-2 side-left">

            </div>
            <div class="col-lg-8 col-md-10 col-sm-10">
                <!--
                <nav>
                    <ul class="breadcrumb">
                    {% spaceless %}
                    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                    {% endspaceless %}
                    </ul>
                </nav>
                -->

                {% block main %}

                {% endblock %}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 side-right">
                {% block side %}

                {% endblock %}
            </div>


        <div id="google"><a href="https://plus.google.com/+VincentJousse?rel=author">Google+</a></div>

    </div>




    {% compress js %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    {% endcompress %}

    {% include "includes/footer_scripts.html" %}
    {% editable_loader %}
</body>
</html>
