<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="canonical" href="http://deboutlesgens.com/" />
    <link rel="author" href="https://plus.google.com/104789707718459565965"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="Vincent Jousse" />
    <meta property="og:title" content="{% block og_title %}{{ page.title }}{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}{{ page.description }}{% endblock %}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="http://{{request.get_host}}{% static "images/deboutlesgens.png" %}" />

    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "sitecontent.views.blog_post_feed_richtext_filters" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "sitecontent.views.blog_post_feed_richtext_filters" "atom" %}">
    {% endifinstalled %}
    {% compress css %}
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css" />

    {% block extra_css %}{% endblock %}
    {% endcompress %}


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js" %}"></script>
      <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}">
<!--
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">

        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{% url "home" %}" class="navbar-brand"><i class="icon-male"></i> Debout les gens !</a>
        </div>

        <nav class="navbar-collapse collapse" id="navbar-main">
            {% page_menu "pages/menus/dropdown.html" %}

            <form action="http://devorigin.us2.list-manage1.com/subscribe/post?u=0670d470b317c4c1e145e8a7a&amp;id=de4b63da2c" class="navbar-form navbar-right" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" role="form" novalidate>
            -->

                <!-- Hardcode size to fix this bug: https://github.com/twbs/bootstrap/issues/9950 -->

                <!--
                <div class="input-group" style="width: 270px;">
                    <span class="input-group-addon"><i class="icon-envelope"></i></span>
                    <input name="EMAIL" class="form-control" type="text" placeholder="Votre email">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">S'abonner</button>
                    </span>
                </div>
            </form>
        </nav>


      </div>
    </div>
    -->

    <div class="container">
        {% nevercache %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" data-alert="alert">
            <a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
        </div>
        {% endfor %}
        {% endnevercache %}



        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 grey-box text-left navbar navbar-default" style="margin-top: 20px;">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <nav class="navbar-collapse collapse" id="navbar-main">
                    {% page_menu "pages/menus/dropdown.html" %}
                </nav>
            </div>
            <div class="col-lg-8 col-md-10 col-sm-10">
                <!--
                <nav>
                    <ul class="breadcrumb">
                    {% spaceless %}
                    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                    {% endspaceless %}
                    </ul>
                </nav>
                -->

                {% block main %}

                {% endblock %}
            </div>
        </div>

    </div>




    {% compress js %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    {% endcompress %}

    {% include "includes/footer_scripts.html" %}
    {% editable_loader %}
</body>
</html>
