{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Soutenir" %}{% endblock %}
{% block og_title %}Soutenir{% endblock %}
{% block title %}{% trans "Sountenir" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Soutenir" %}</li>
{% endblock %}

{% block main %}
        <h1>Site payant au prix libre</h1>
        <div>
            <p>Merci d'avoir pris de votre temps pour lire ce site. Sur une idée de <a href="http://ploum.net">Ploum</a>, ce site est un <strong>site payant au prix libre</strong>. Vous avez donc le choix du prix que vous souhaitez y mettre.</p>
            <p>Vous pouvez décider que le temps que vous y avez passé est déjà suffisant. Vous pouvez décider de me payer en partageant ce texte par mail ou sur les réseaux sociaux. Vous pouvez m'<a href="/à-propos/">envoyer un petit mail de remerciement</a>. Vous pouvez aussi me soutenir par l'un des moyens suivant :
            <ul>

                <li><strong>me soutenir sur <a href="https://flattr.com/profile/vjousse">Flattr</a></strong> : <script id='fb17wor'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=vjousse&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fb17wor');</script>
                </li>
                <li>m'envoyer des <strong>Bitcoins</strong> : 1Ngx95Fk1YFPX5PhBwxPHXErrd5nPE9iFG</li>
            </ul>

            En fait peut importe, je suis convaincu que chacun a quelque chose à donner et qu'il devrait pouvoir le faire à la mesure de ses moyens. Si vous n'aviez que le temps de la lecture d'un article à me donner, c'est déjà énorme. Je vous en remercie.
            </div>


            <div>


{% endblock %}
