{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Debout les gens !" %}{% endblock %}
{% block og_title %}Accueil{% endblock %}
{% block title %}{% trans "Debout les gens !" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Accueil" %}</li>
{% endblock %}

{% block main %}

<h1 class="text-center"><i class="icon-male"></i> Debout les gens !</h1>
<div id="banner" class="page-header">
    <blockquote class="text-center">
        <p class="lead">
            <strong>« On a deux vies, la seconde commence le jour où l'on réalise qu'on en a qu'une »</strong>
        </p>
        <small>Confucius</small>
    </blockquote>
    <p class="lead">
    J'adore cette citation. Elle résume bien ce que j'aimerais que vous compreniez en lisant ce blog : le temps s'envole rapidement, mais la bonne nouvelle, c'est que <strong>c'est vous le pilote</strong>.
    </p>
    <p class="lead">
    Je ne vous donnerai pas ici de recette miracle, je vous aiderai juste à <strong>réfléchir</strong> et à vous tenir fièrement <strong>debout</strong>. À l'image du design du blog, j'irai droit à l'essentiel.
    </p>
    <p class="lead">Réfléchir sur soi-même prend du temps, alors autant commencer dès maintenant.</p>

    <div class="text-center">
        <script id='fb17wor'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=vjousse&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fb17wor');</script>
    </div>
</div>

{% endblock %}
