{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Debout les gens !" %}{% endblock %}
{% block og_title %}Accueil{% endblock %}
{% block title %}{% trans "Debout les gens !" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Accueil" %}</li>
{% endblock %}

{% block main %}


<div class="row">
    <div class="col-lg-12">

        <div id="banner" class="page-header">
            <blockquote class="text-center">
                <p class="lead">
                    <strong>« On a deux vies, la seconde commence le jour où l'on réalise qu'on en a qu'une »</strong>
                </p>
                <small>Confucius</small>
            </blockquote>

        </div>

    </div>
</div>

<div class="row home-links">
    <div class="col-lg-6 text-center">
        <a href="blog/">Le blog</a>
        <p>
            <a href="blog/">Toutes mes articles, fictions et autres. Le tout téléchargeable sous form d'ebook.</a>
        </p>
    </div>
    <div class="col-lg-6 text-center">
        <a href="bestof/">Ma sélection du web</a>
        <p>
        <a href="bestof/">Vous vous demandez quoi lire ou quoi regarder ? Ne vous demandez plus !</a>
        </p>
    </div>
</div>
<div class="row home-links">
    <div class="col-lg-12 text-center">
        <a href="à-propos/">À propos</a>
        <p><a href="à-propos/">Un peu plus sur moi et le pourquoi de ce blog.</a></p>
    </div>
</div>

<div class="row" style="padding-top: 50px;">
    <div class="col-lg-12">
        <div class="text-center">
            <script id='fb17wor'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=vjousse&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fb17wor');</script>
        </div>
    </div>
</div>
{% endblock %}
