{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "S'abonner" %}{% endblock %}
{% block og_title %}S'abonner{% endblock %}
{% block title %}{% trans "S'abonner" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "S'abonner" %}</li>
{% endblock %}

{% block main %}
<h1>S'abonner</h1>

<p>Il existe plusieurs moyens de se tenir au courant des derniers articles du site, vous pouvez :</p>
<ul>
    <li>me <a href="http://twitter.com/vjousse">suivre sur Twitter</a></li>
    <li>vous <a href="/content/feeds/rss">abonner au flux RSS</a></li>
    <li>vous inscrire à la newsletter, en espérant que je n'oublie pas de l'envoyer ;)</li>
</ul>
<form action="http://devorigin.us2.list-manage1.com/subscribe/post?u=0670d470b317c4c1e145e8a7a&amp;id=de4b63da2c" class="validate" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" role="form" novalidate>

    <div class="row">
        <div class="col-lg-8">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input name="EMAIL" class="form-control" type="text" placeholder="Votre email">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">S'abonner</button>
                </span>
            </div>
        </div>
    </div>
</form>

{% endblock %}
