{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "S'abonner" %}{% endblock %}
{% block og_title %}S'abonner{% endblock %}
{% block title %}{% trans "S'abonner" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "S'abonner" %}</li>
{% endblock %}

{% block main %}
            <div class="clearfix visible-xs"></div>

            <div class="col-lg-4 col-sm-6 newsletter-form">
                <form action="http://devorigin.us2.list-manage1.com/subscribe/post?u=0670d470b317c4c1e145e8a7a&amp;id=de4b63da2c" class="navbar-form navbar-right validate" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" role="form" novalidate>

                    <!-- Hardcode size to fix this bug: https://github.com/twbs/bootstrap/issues/9950 -->

                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon-envelope"></i></span>
                        <input name="EMAIL" class="form-control" type="text" placeholder="Votre email">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">S'abonner</button>
                        </span>
                    </div>
                </form>
            </div>

        </div>

{% endblock %}
