{% extends "base.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future staticfiles %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block main %}


        <div id="content">


            <!-- ============================================
              Page Title
            ============================================= -->
            <div id="page-title">


                <div class="container clearfix">

                    <h1>Le Blog <span>/ {{ blog_post.title }}</span></h1>

                </div>


            </div>
            <div class="content-wrap">

                <div class="container clearfix">


                    <!-- ============================================
                        Page Content Start
                    ============================================= -->
                    <div class="postcontent nobottommargin clearfix">


                        <div class="entry post-single clearfix">

                            <div class="entry_title"><h2>{{ blog_post.title }}</h2></div>

                            <ul class="entry_meta clearfix">

                                <li><i class="icon-calendar"></i>{{ blog_post.publish_date|date:"j F Y" }}</li>
                                <li><span>/</span><i class="icon-user"></i>{{ blog_post.user.get_full_name|default:blog_post.user.username }}</li>
                                <li><span>/</span><i class="icon-copy"></i>
                                
                                {% with blog_post.categories.all as categories %}
                                {% if categories %}
                                {% for category in categories %}
                                <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                                
                                <li><span>/</span>

                                    <a href="{{ blog_post.get_absolute_url }}#comments">
                                        <i class="icon-comments-alt"></i>
                                        
                                        {% if blog_post.comments_count == 0 %}
                                            Commenter
                                        {% else %}
                                            {{ blog_post.comments_count }} commentaire{{ blog_post.comments_count|pluralize }}
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>


                            <div class="entry_content">

                                {{ blog_post.content|richtext_filters|safe }}

                                <div class="entry_share clearfix">

                                    <span><strong>Partagez cet article :</strong></span>

                                    <a href="http://www.facebook.com/sharer.php?u={{ blog_post.get_absolute_url }}" class="ntip" title="Partager sur Facebook"><img src="{% static 'images/icons/social/post/facebook.png' %}" alt="Facebook" /></a>
                                    <a href="http://twitter.com/home/?status={{ blog_post.title }} - {{ blog_post.get_absolute_url }} via @vjousse " class="ntip" title="Tweet on Twitter"><img src="{% static 'images/icons/social/post/twitter.png' %}" alt="Twitter" /></a>
                                    <a href="https://plus.google.com/share?url={{ blog_post.get_absolute_url }}" onclick="javascript:window.open(this.href,
                                        '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false; " class="ntip" title="Partager sur Google Plus"><img src="{% static 'images/icons/social/post/googleplus.png' %}" alt="Google Plus" /></a>
                                    <a href="#" onclick="popUp=window.open('https://www.stumbleupon.com/submit?url={{ blog_post.get_absolute_url }}', 'popupwindow', 'scrollbars=yes,width=800,height=400');popUp.focus();return false" class="ntip" title="Partager sur StumbleUpon"><img src="{% static 'images/icons/social/post/stumbleupon.png' %}" alt="StumbleUpon" /></a>
                                    <a href="http://reddit.com/submit?url={{ blog_post.get_absolute_url }}&title={{ blog_post.title }}" class="ntip" title="Partager sur Reddit"><img src="{% static 'images/icons/social/post/reddit.png' %}" alt="Reddit" /></a>

                                </div>

                            </div>
                        </div>
                        <div class="clear"></div>


                        <?php if(related_posts_exist()): ?>
                        <div style="position: relative;">

                            <h4><span>Articles</span> en rapport</h4>
                            <?php related_posts() ?>
                        </div>
                        <div class="clear"></div>

                        <div class="double-line"></div>
                        <?php endif; ?>



                        <div id="landing-subscribe" style="padding-top:30px;">
                            <h3 class="center">Inscrivez-vous et <span>changez les choses</span> dès maintenant</h3>
                            <p class="landing-desc center">
                                Vous recevrez <strong>les mises à jour du blog</strong>, des <strong>recommandations de lecture</strong> et <strong>mes livres numériques</strong> directement dans votre boîte mail&nbsp;!
                            </p>
                            <?php
                            $widgetNL = new WYSIJA_NL_Widget(true);
                            echo $widgetNL->widget(array('form' => 1, 'form_type' => 'php'));
                            ?>

                            <p class="center">Et je suis comme vous, je déteste le SPAM.</p>
                        </div>

                        <?php
                        // If comments are open or we have at least one comment, load up the comment template
                        if ( comments_open()): ?>
                            <?php comments_template(); ?>
                        <?php endif; ?>

                        <div class="double-line"></div>
                        <div class="clear"></div>


                        <ul class="pager nobottommargin">
                            <li class="previous">
                                <?php previous_post_link('%link', '&larr; %title'); ?>
                            </li>
                            <li class="next">
                                <?php next_post_link('%link', '%title &rarr;'); ?>
                            </li>
                        </ul>


                    </div>
                    <!-- ============================================
                        Page Content END
                    ============================================= -->

                    <!-- ============================================
                        Sidebar Widgets
                    ============================================= -->
                    <div class="sidebar col_last nobottommargin clearfix">


                        <div class="sidebar-widgets-wrap clearfix">
                        <?php get_sidebar(); ?>
                        </div>
                    </div>


                </div>
            </div>

        </div>


{% block blog_post_detail_postedby %}
{% editable blog_post.publish_date %}
<h6>
    {% trans "Posted by" %}:
    {% with blog_post.user as author %}
    <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
    {% endwith %}
    {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
</h6>
{% endeditable %}
{% endblock %}
{% block blog_post_detail_commentlink %}
<p>
    {% if blog_post.allow_comments %}
        (<a href="#comments">{% spaceless %}
            {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
            {% endspaceless %}</a>)
    {% endif %}
</p>
{% endblock %}



{% block blog_post_detail_keywords %}
{% keywords_for blog_post as tags %}
{% if tags %}
{% spaceless %}
<ul class="unstyled tags">
    <li>{% trans "Tags" %}:</li>
    {% for tag in tags %}
    <li><a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}

{% rating_for blog_post %}

{% block blog_post_detail_sharebuttons %}
{% set_short_url_for blog_post %}
<a class="btn small primary share-twitter" target="_blank" href="http://twitter.com/home?status={{ blog_post.short_url|urlencode }}%20{{ blog_post.title|urlencode }}">{% trans "Share on Twitter" %}</a>
<a class="btn small primary share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ blog_post.title|urlencode }}">{% trans "Share on Facebook" %}</a>
{% endblock %}

{% block blog_post_previous_next %}
<ul class="pager">
{% with blog_post.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    <a href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% endif %}
{% endwith %}
{% with blog_post.get_next_by_publish_date as next %}
{% if next %}
<li class="next">
    <a href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
</li>
{% endif %}
{% endwith %}
</ul>
{% endblock %}

{% block blog_post_detail_related_posts %}
{% if blog_post.related_posts.all %}
<div id="related-posts">
<h3>{% trans 'Related posts' %}</h3>
<ul class="unstyled">
{% for post in blog_post.related_posts.all %}
     <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}

{% block blog_post_detail_comments %}
{% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
{% endblock %}

{% endblock %}
