{% load i18n future pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}

<ul id="main-menu">

    {% for page in page_branch %}

    <li{% if page.is_current_or_ascendant %} class="current"{% endif %}><a href="{{ page.get_absolute_url }}"><div>{{ page.title }}</div><span class="sub">{% if page.short_description %}{{ page.short_description }}{% endif %}</span></a>
        {% page_menu "pages/menus/subdropdown.html" page %}
    </li>

    {% endfor %}

</ul>


{% endif %}
{% endspaceless %}
