{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Changer de vie pour vivre la sienne" %}{% endblock %}
{% block title %}{% trans "Changer de vie pour vivre la sienne" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Accueil" %}</li>
{% endblock %}

{% block main %}

<div class="container">
    <div id="banner" class="page-header">
        <div class="row">
            <div class="col-lg-12">

                    <blockquote>
                        <p class="lead">
                            <strong>« On a deux vies, la seconde commence le jour où l'on réalise qu'on en a qu'une »</strong>
                        </p>
                        <small>Confucius</small>
                    </blockquote>
                    <p class="lead">
                    J'adore cette citation. Elle résume bien ce que j'aimerais que vous compreniez en lisant ce blog : le temps s'envole rapidement, mais la bonne nouvelle, c'est que <strong>c'est vous le pilote</strong>.
                    </p>
                    <p class="lead">
                    Je ne vous donnerai pas ici de recette miracle, je vous aiderai juste à <strong>réfléchir</strong> et à vous tenir fièrement <strong>debout</strong>.
                    </p>
                    <p class="lead">Réfléchir sur soi-même prend du temps, mais croyez-moi, le jeu en vaut la chandelle.</p>

            </div>
        </div>
    </div>

</div>


{% endblock %}
